.MainDash{
  /* padding-top: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .MainDash{
      margin-top: 2rem;
  }
}
